.container {
  max-width: 1200px;
  margin: 0px auto;
}
.container .text_container {
  text-align: center;
}
.container .text_container .text_header_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
}
.container .text_container .text_header_content h3 {
  color: white;
  margin-left: 220px;
}
.container .text_container .text_header_content a {
  color: white;
}
.container .logo_katalog {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .logo_katalog img {
  padding: 12px;
}
.container .logo_katalog select {
  border: none;
  padding-right: 8px;
}
.container .logo_katalog a {
  text-decoration: none;
  color: black;
}
.container .tel_icons {
  display: flex;
  align-items: center;
}
.container .tel_icons .img-phone {
  margin-right: 10px;
}
.container .tel_icons a {
  text-decoration: none;
  color: #000000;
  margin-right: 30px;
}
.container .tel_icons .img_vector_header {
  margin: 0px 10px;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .text_home {
  margin-top: 20px;
}
.container .text_home p {
  color: black;
}
.container .text_home p span {
  color: #aaa;
}
.container .title1 h2 {
  margin-top: 30px;
  color: #000000;
  font-size: 28px;
  margin-bottom: 32px;
}
.container .title1 h2 span {
  color: #000000;
  padding-left: 12px;
  font-size: 18px;
}
.container .cbrosit_filter {
  display: flex;
  align-items: center;
}
.container .cbrosit_filter .sbrosit_btn {
  width: 260px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #ADD7FF;
  margin-right: 32px;
}
.container .cbrosit_filter p img {
  margin-left: 10px;
}
.container .popular_select {
  display: flex;
  align-items: center;
}
.container .popular_select select {
  width: 150px;
  height: 40px;
  padding: 10px 5px;
}
.container .btn_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .filter_katalog {
  width: 300px;
  height: 525px;
  padding: 15px;
  flex-direction: row;
  border: 2px solid #C4CDD5;
}
.container .filter_katalog .chena {
  margin-top: 24px;
  display: flex;
  align-items: center;
  width: 235px;
  padding: 15px 0px;
}
.container .filter_katalog .chena img {
  padding-left: 170px;
}
.container .filter_katalog .nosti {
  margin-top: 24px;
  display: flex;
  align-items: center;
  width: 235px;
  padding: 15px 0px;
}
.container .filter_katalog .nosti img {
  padding-left: 112px;
}
.container .filter_katalog .svet {
  margin-top: 24px;
  display: flex;
  align-items: center;
  width: 235px;
  padding: 15px 0px;
}
.container .filter_katalog .svet img {
  padding-left: 168px;
}
.container .filter_katalog .material {
  margin-top: 24px;
  display: flex;
  align-items: center;
  width: 235px;
  padding: 15px 0px;
}
.container .filter_katalog .material img {
  padding-left: 135px;
}
.container .filter_katalog .razmer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  width: 235px;
  padding: 15px 0px;
}
.container .filter_katalog .razmer img {
  padding-left: 145px;
}
.container .filter_katalog form input {
  width: 102px;
  height: 34px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}
.container .filter_katalog form button {
  border: none;
  width: 220px;
  height: 35px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 15px;
}
.container .card_filter {
  margin-top: 32px;
  display: flex;
  gap: 30px;
}
.container .card1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 924px;
  height: auto;
  flex-wrap: wrap;
}
.container .card1 p {
  width: 200px;
}
.container .card_item1 {
  width: 288px;
  height: 453px;
}
.container .text_item {
  position: relative;
}
.container .text_item img {
  margin-top: 10px;
}
.container .text_item p {
  color: #454F5B;
  font-size: 16px;
}
.container .text_item strong {
  margin-top: 20px;
  margin-right: 12px;
  font-weight: bold;
  font-size: 20px;
}
.container .text_item del {
  margin-top: 15px;
  color: #454F5B;
  font-size: 18px;
}
.container .text_item .absolyut_a_1 {
  text-decoration: none;
  position: absolute;
  bottom: 370px;
  left: 220px;
  color: white;
  width: 51px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
}
.container .text_item .absolyut_div {
  position: absolute;
  bottom: 375px;
  left: 15px;
}
.container .text_item .absolyut_div img {
  margin-right: 10px;
  background-color: #fff;
}
.container .text_item .podarokDiv {
  position: absolute;
  bottom: 335px;
  left: 15px;
  background-color: #fff;
  width: 100px;
  padding-bottom: 6px;
  cursor: pointer;
}
.container .text_item .podarokDiv img {
  margin-right: 10px;
  margin-left: 10px;
}
.container .text_item button {
  width: 90px;
  height: 26px;
  text-align: center;
  border: none;
}
.container .text_item button img {
  margin-right: 10px;
}
.container .text_item .absolyut_a_1 {
  text-align: center;
  color: black;
  padding-top: 5px;
}
.container .text_item .absolyut_btn_1 {
  background-color: #fff;
  text-align: center;
}
.container .card_item2 {
  position: relative;
  width: 288px;
  height: 453px;
}
.container .card_item2 .absolyut_a_2 {
  text-decoration: none;
  color: white;
  width: 51px;
  height: 30px;
  background-color: rgba(197, 197, 197, 0.3);
  padding: 8px 10px;
  text-align: center;
  color: black;
  padding-top: 5px;
}
.container .card_item2 .absolyut_btn_2 {
  background-color: white;
  text-align: center;
}
.container .card_item2 .absolyut_a_2 {
  text-decoration: none;
  color: black;
  width: 51px;
  height: 30px;
  background-color: white;
}
.container .card_item3 {
  position: relative;
  width: 288px;
  height: 453px;
}
.container .card_item3 .absolyut_a_3 {
  text-align: center;
  color: black;
  padding-top: 5px;
}
.container .card_item3 .absolyut_btn_3 {
  background-color: white;
  text-align: center;
}
.container .card_item3 .absolyut_a_3 {
  text-decoration: none;
  color: black;
  width: 51px;
  height: 30px;
  background-color: white;
}
.container .card_item4 {
  position: relative;
  width: 288px;
  height: 453px;
}
.container .card_item4 .absolyut_p_4 {
  position: absolute;
  top: 10px;
  left: 12px;
}
.container .card_item4 .absolyut_a_4 {
  position: absolute;
  top: 12px;
  left: 225px;
  text-align: center;
  color: black;
  padding-top: 5px;
}
.container .card_item4 .absolyut_btn_4 {
  position: absolute;
  top: 49px;
  left: 12px;
  background-color: white;
  text-align: center;
}
.container .card_item4 .absolyut_a_3 {
  text-decoration: none;
  color: black;
  width: 51px;
  height: 30px;
  background-color: white;
}
.container .prosmotreli_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 5px 0px 5px;
}
.container .card2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 924px;
  height: 453px;
  gap: 10px;
}
.container .malumotnoma {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 96px;
}
.container .text_malumotnoma h2 {
  color: #161C24;
  font-size: 32px;
  font-weight: bold;
}
.container .text_malumotnoma p {
  color: #454F5B;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.container .item_input {
  display: flex;
  gap: 25px;
}
.container .inputs {
  text-align: center;
  margin-top: 64px;
  padding: 64px 0px 56px 0px;
}
.container .inputs h2 {
  font-size: 44px;
  color: #161C24;
  padding-bottom: 34px;
}
.container .inputs p {
  font-size: 16px;
  color: #454F5B;
  padding-bottom: 34px;
}
.container .inputs .input_btn input {
  width: 240px;
  height: 50px;
  border: none;
  outline: none;
  color: #454F5B;
  background-color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
  margin-bottom: 56px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 36px;
}
.container .inputs .input_btn button {
  width: 240px;
  height: 50px;
  background-color: #4295E4;
  color: white;
  border: none;
  cursor: pointer;
}
.container .logo_footer {
  margin-bottom: 144px;
  margin-right: 216px;
}
.container .footer_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 54px;
}
.container .footer_ul_list {
  display: flex;
  gap: 97px;
}
.container .footer_ul_list .navigatsiya_p {
  margin-bottom: 24px;
  color: #FFFFFF;
}
.container .footer_ul_list .navigatsiya_li {
  list-style: none;
  margin: 16px 0px;
  font-size: 16px;
}
.container .footer_ul_list .navigatsiya_li a {
  text-decoration: none;
  color: #FFFFFF;
}
.container .footer_ul_list .kontak_p {
  margin-bottom: 24px;
  color: #FFFFFF;
}
.container .footer_ul_list .kontak_li {
  list-style: none;
  margin: 16px 0px;
  font-size: 16px;
}
.container .footer_ul_list .kontak_li a {
  text-decoration: none;
  color: #FFFFFF;
}
.container .footer_ul_list .kontak_span {
  font-size: 14px;
  color: #C4CDD5;
}
.container .footer_ul_list .other_p {
  margin-bottom: 24px;
  color: #FFFFFF;
}
.container .footer_ul_list .other_li {
  list-style: none;
  margin: 16px 0px;
  font-size: 16px;
}
.container .footer_ul_list .other_li a {
  text-decoration: none;
  color: #FFFFFF;
}
.container .footer_end {
  text-align: center;
}
.container .footer_end hr {
  background-color: #FFFFFF;
}
.container .footer_end p {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  color: #FFFFFF;
}
.container #select_product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 84vh;
}
.container #select_product h2 {
  color: black;
  font-size: 32px;
}
.container #select_product strong {
  margin: 50px 20px;
  font-size: 24px;
  margin-right: 5px;
}
.container #select_product del {
  color: #454F5B;
  font-size: 18px;
}
.container #select_product a {
  width: 150px;
  height: 40px;
  padding: 10px 25px;
  background-color: #4295E4;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.container #select_product .a_select {
  margin-top: 20px;
}
.container #select_product .text_product_item {
  height: auto;
}
.container #select_product p {
  width: 350px;
  flex-wrap: wrap;
  margin: 25px 0px;
}
.container .img_product {
  width: 400px;
  height: 400px;
}
.container .img_product img {
  width: 300px;
  height: 300px;
}
.container #card2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container #card2 p {
  width: 200px;
  color: #454F5B;
}
.container #card2 strong {
  font-size: 20px;
  margin-right: 7px;
}
.container #card2 del {
  font-size: 16px;
  color: #454F5B;
}
.container #card2 a {
  position: absolute;
  top: 2280px;
  margin-left: 110px;
  background-color: #fff;
  width: 51px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
}
.container #card2 .back_div {
  width: 150px;
  align-items: center;
  position: absolute;
  top: 2285px;
  margin-left: 10px;
}
.container #card2 .back_div img {
  background-color: #fff;
}
.container #card2 .back_div span {
  font-size: 16px;
  padding-left: 5px;
}
.container #card2 .priz_div {
  position: absolute;
  top: 2313px;
  margin-left: 10px;
  width: 90px;
  height: 26px;
  background-color: #fff;
  text-align: center;
  padding-top: 3px;
}
.container #card2 .priz_div span {
  font-size: 16px;
  padding-left: 5px;
}
.container #card2 .priz_div img {
  padding-left: 5px;
}
.container .korzina {
  width: 836px;
  height: auto;
  background-color: #fff;
  margin-left: 150px;
}
.container .korzina .img_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .korzina .img_text h2 {
  margin-left: 40px;
}
.container .korzina .img_text img {
  margin-right: 40px;
}
.container .card_shop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.container .card_shop .card_shop_item h3 {
  margin-bottom: 5px;
}
.container .card_shop .card_shop_item span {
  margin-top: 20px;
}
.container .btn_shop {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .bg_blue {
  background-color: #4295E4;
  color: white;
  width: 249px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 40px;
}
.container .bg_white {
  background-color: white;
  color: black;
  width: 216px;
  height: 40px;
  border: 1px solid #ADD7FF;
  margin: 40px;
}

.product_bg_color {
  background-color: rgba(128, 128, 128, 0.1);
  height: auto;
}

.header_head {
  background-color: #454F5B;
}

.shop_bg_color {
  background-color: rgba(128, 128, 128, 0.2);
  height: auto;
}

.bg_color {
  background-color: #F2F8FF;
}

.bg_footer {
  background-color: #0D2436;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */